requests==2.22.0
tqdm==4.32.2
pytest==4.6.3
# Because the jira package on pypi is still version 2.0.0 instead of 2.0.1rc1 (since 19.12.2018) we manually checkout
# the commit for version 2.0.1rc1
-e git://github.com/pycontribs/jira.git@72f2f6b181004fd0dff0b4946f427b83b9c0c68a#egg=jira
sentry-sdk==0.9.5
sphinx==2.1.2
sphinx_rtd_theme==0.4.3
coverage==4.5.3